body {
    background: #00162a;
    color: white;
}

.wrapper-quiz {
    min-height: 62vh;
}

.quiz-finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.congrats {
    margin: auto auto;
}

.congrats p {
    font-size: 40px;
    font-weight: 500;
}

.fire-container {
    margin: auto 0px;
    display: flex;
}

.fire-container canvas {
    margin: auto auto;
}

.result {
    display: flex;
}

.modal-result {
    margin: auto auto;
}

.result-container {
    color: black;
}

.result-container p {
    color: black;
}