body {
    background: #00162a;
}

.wrapper-quiz {
    min-height: 62vh;
}

.soal-container {
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
}

.numbering {
    width: 200px;
    height: 100px;
    background: white;
    border-radius: 20px;
    display: flex;
    margin: auto auto;
    margin-top: 50px;
}

.numbering p {
    color: black;
    text-align: center;
    margin: auto auto;
    font-weight: 500;
}

.soal {
    width: 400px;
    height: auto;
    padding: 2% 5%;
    background: white;
    border-radius: 20px;
    margin: auto auto;
    margin-top: 50px;

    word-wrap: break-word;
}

.soal p {
    color: black;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 15%;
    justify-content: center;
}

.answers {
    min-width: 120px;
    height: auto;
    padding: 1% 1%;
    background: white;
    border-radius: 20px;
    margin: auto auto;
    margin-top: 50px;
    cursor: pointer;
    word-wrap: break-word;
    margin: 10px;
}

.answers:active {
    background: #0d6efd;
    color: white;
}

.answers p:active {
    color: white;
}

.answers p {
    color: black;
    margin: auto auto;
    text-align: center;
    font-size: 13px;
}