body {
    background: #00162a;
}

.wrapper-quiz {
    min-height: 59vh;
    color: white;
}

.prepare {
    display: flex;
    flex-direction: column;
}

.loading-bar {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 5%;
}

.loading-bar p {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
}

.pre-message {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.pre-message P {
    margin: auto auto;
}

.loader {
    height: 40px;
    position: relative;
    top: 50%;
    margin-top: 34px;
}

.loader span {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    transition: all 0.5s;
    animation: animate 2s infinite;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes animate {
    0% {
        border: 1px solid #fff;
        background: #db3d88;

        transform: translateY(0);
    }

    50% {
        border: 1px solid #fff;
        background: #db3d88;

        transform: translateY(-25px);
    }

    100% {
        border: 1px solid #fff;
        background: white;

        transform: translateY(0);
    }
}

.loader span:nth-child(1) {
    animation-delay: 0;
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    animation-delay: 0.5s;
}