{% extends 'base.html' %}
{% load static %}

{% block title %}
    Eduspace
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/Home.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper" style="min-height: 80vh;">
    <div class="row">
        <div class="col-md-7">
            <div class="login d-flex align-items-center">
                <div class="container">
                        <div class="mx-5">
                            <h1 class="judul text-start">Learn Wihout Limits</h1>
                            <br>
                            <p class="text-start desc">
                                In the new normal era, distance and time often become a barrier for us to gain knowledge, thus we need a distance learning breakthrough that allows us to continue to gain knowledge without the barriers of space and time.
                                We provides everything you need for learning in this style.  
                            </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-none d-md-flex home-picture">
            <section class="section">
                <img src="{% static 'img/homeIcon.svg'%}">
            </section>
        </div>
    </div>
</div>

<div class="mitra-container">
    <div class="desc">
        <p>We Collaborate with <span>200+ leading universities and schools</span></p>
    </div>

    <div class="some-school">
        <img src="{% static 'img/parthnerExample.svg'%}">
    </div>
</div>

<div class="containter-fluid users" style="min-height:70vh; color:white;">
        <div class="container col-lg-4 text-center my-5 picture">
            <p style="font-size:50px; font-weight:400;">Who is the user ?</p>
        </div>

        <div class="container d-flex flex-lg-row">
            <div class="student-image col-lg-6">
                <img src="{% static 'img/Students.svg'%}">
            </div>

            <div class="user-description col-lg-6 mt-5" style="font-size: 20px;">
                Eduspace is a learning website aimed at the general public. In accordance with the purpose of Eduspace itself, namely "Education for everyone". So any school student, whether at the elementary, junior high, and high school levels who want to study according to the school curriculum and college students with their respective majors can create a user account on Eduspace and make Eduspace their facility in learning.
            </div>
        </div>
</div>


<div class="faq-course">
    <div class="container-lg">
        <p>FAQ</p>
    </div>

    <div class="accordion" id="accordionExample">
        
      {% for faq in faqs %}
      <div class="accordion-item shadow-p">
        <h5 class="accordion-header" id="heading{{faq.pk}}">
          <button
            class="accordion-button collapsed d-block text-center"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{faq.pk}}"
            aria-expanded="false"
            aria-controls="collapseThree"
            style="font-family: 'Nunito', sans-serif; font-size: 24px"
          >
            {{faq.Question}}
          </button>
        </h5>
        <div id="collapse{{faq.pk}}" class="accordion-collapse collapse" aria-labelledby="heading{{faq.pk}}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {{faq.Answer}}
          </div>
        </div>
      </div>
      {% endfor %}
        
      </div>
</div>


<div class="join-now container p-6 text-center" style="color:white; padding: 5% 25%;">
    <p style="font-size:45px;font-weight:500; margin-bottom : 30px;">
        so what are you waiting for? come and join us today!
    </p>
    <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-lg">JOIN NOW</button></a>
</div>



{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/Home.js' %}"></script>
{% endblock %}