{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{course.course_name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/content.css'%}">
{% endblock %}s

{% block content %}
<div class="wrapper-course-content">
    <div class="content-container id-course" id="{{course.id_course}}">
        <div class="course-main">
            <div class="course-video">
                <p class="title">{{course.course_name}}</p>
                <video class="video" id="video-style" controls controls="controls" preload="preload" >
                    <source src="https://www.youtube.com/watch?v=qXlZVDA_S_s" class="video-source" type="video/mp4">
                </video>
            </div>

            <div class="course-additional">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <p class="nav-link material active" onClick="handleMaterial()" href="#">Material</p>
                        </li>
                        
                        <li class="nav-item">
                          <p class="nav-link comments" onClick="handleComments()" href="#">Quiz</p>
                        </li>

                      </ul>
                </div>

                
                <div class="material-tab overflow-auto" >
                    <div class="container-fluid m-4 d-flex justify-content-center flex-wrap">
                       
                        {% for video in videos%}
                        <div class="files-card">
                            <div class="files-name">
                                <i class="far fa-file-pdf fa-4x"></i>
                                <div class="profile-files">
                                    <a href="{{video.materi}}" style="text-decoration: none;"><p>{{video.title}}</p></a>
                                    <p>PDF</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="files-linking">
                                
                                <div class="btn-group">
                                    <button class="btn btn-default">
                                                <i class="fa fa-arrow-down"></i>
                                                Download
                                              </button>
                                  </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>

                <div class="comments-tab hidden overflow-auto">
                    <div class="cointainer-fluid container">
                        <ul class="list-group list-group-flush" style="border-radius:10px;">
                            {% for quiz in quizs %}
                            <li class="list-group-item" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; margin-bottom:0px;">
                                <a id="{{quiz.pk}}" onClick="RedirectQuiz()" style="text-decoration: none; color : black; cursor:pointer;">{{quiz}}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="Modal-Rating">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Rate Course
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel" style="color:black;">Rate Course</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container container-fluid d-flex justify-content-center">
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5"  onClick="handleFive()"/>
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" onClick="handleFour()"/>
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" onClick="handleThree()"/>
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" onClick="handleTwo()"/>
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" onClick="handleOne()"/>
                                    <label for="star1" title="text">1 star</label>
                                  </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onClick="handleRate()">Rate</button>
                        </div>
                    </div>
                    </div>
                </div>
  
            </div>
        </div>

        <div class="course-contents overflow-auto">
            
            {% for video in videos %}
            <div class="thumbnail" onClick="videoChange({{video.orders}}); AddScore()"id="{{video.orders}}">
                <div class="thu-img">
                    <img src="{{video.thumbnail.url}}">
                </div>
                <p>{{video.title }}</p>
            </div>
            {% endfor %}

          
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/course.js' %}"></script>
    
{% endblock %}