{% extends 'base.html' %}
{% load static %}

{% block title %}
    Course
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/course.css'%}">
{% endblock %}

{% block content %}
<div class="course-wrapper">
    <div class="course-page-title">
        <p>Course</p>
    </div>

    <div class="course-filter">
        
        <p class="filter-result">Showing {{total}} total result for “{{filtring}}”</p>

        <div class="filter-select">   
            <p>Filter By :</p>

            <div class="d-flex flex-row bd-highlight selecttion-bars">
                <form method="POST" class="d-flex flex-row bd-highlight mb-1 selecttion-bars" action="/Course/">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <select name="level" class="form-select selection-drop" id="inputGroupSelect01">
                          <option value="null">Level</option>
                            {% for level in levels %}
                                <option value="{{level}}">{{level}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <select name="institution" class="form-select selection-drop" id="inputGroupSelect01">
                          <option value="null">Institution</option>
                            {% for institution in institutions %}
                                <option value="{{institution}}">{{institution}}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="input-group mb-3">
                        <select name="subject" class="form-select selection-drop" id="inputGroupSelect01">
                          <option value="null">Subject</option>
                            {% for subject in subjects %}
                                <option value="{{subject}}">{{subject}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="submit" value="filter" class="btn btn-block btn-outline-primary mb-3 mt-2">
                </form>
              </div>
        </div>
    </div>


    <div class="course-list">
        {% for course in courses %}
        <div class="course-card">
            <div class="card-content">
                <div class="course-picture">
                    <img src="{{course.picture.url}}">
                </div>
                <div class="course-profile">
                    {% if NoAuth == 'Yes' %}
                    <p class="title-course">{{course.course_name}}</p>
                    {% else %}
                    <a class="title-course" style="text-decoration:none;" href="/Course/{{course.id_course}}/">{{course.course_name}}</a>
                    {% endif %}
                    <p class="school-name">{{course.institution.institution_name}}</p>
                    <div class="box"><p>Course</p></div>
                    <div class="rating">
                        {% if course.Star == 0 %}
                            <img src="{% static 'img/zerostar.svg'%}"/>
                        {% elif course.Star == 1 %}
                            <img src="{% static 'img/onestar.svg'%}"/>
                        {% elif course.Star == 2 %}
                             <img src="{% static 'img/twostar.svg'%}"/>
                        {% elif course.Star == 3 %}
                            <img src="{% static 'img/threestar.svg'%}"/>
                        {% elif course.Star == 4 %}
                            <img src="{% static 'img/fourstar.svg'%}"/>
                        {% elif course.Star == 5 %}
                            <img src="{% static 'img/fivestar.svg'%}"/>
                        {% elif course.Star > 5 %}
                            <img src="{% static 'img/fivestar.svg'%}"/>
                        {% endif %}
                        <p>| {{course.ParticipatFrequent}} Students</p>
                    </div>
                    <p class="level">{{course.level}}</p>
                    
                </div>
            </div>
            <hr/>
        </div>

        {% endfor %}
        
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/course.js' %}"></script>
{% endblock %}