{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{course.course_name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/overviewCourse.css'%}">
{% endblock %}

{% block content %}

<div class="wrapper-overview-course">
    <div class="course-description">
        <p class="title-course">{{course.course_name}}</p>
        <div class="rating">
            {% if course.Star == 0 %}
            <img src="{% static 'img/zerostar.svg'%}"/>
        {% elif course.Star == 1 %}
            <img src="{% static 'img/onestar.svg'%}"/>
        {% elif course.Star == 2 %}
             <img src="{% static 'img/twostar.svg'%}"/>
        {% elif course.Star == 3 %}
            <img src="{% static 'img/threestar.svg'%}"/>
        {% elif course.Star == 4 %}
            <img src="{% static 'img/fourstar.svg'%}"/>
        {% elif course.Star == 5 %}
            <img src="{% static 'img/fivestar.svg'%}"/>
        {% elif course.Star > 5 %}
            <img src="{% static 'img/fivestar.svg'%}"/>
        {% endif %}
            <p>| {{course.ParticipatFrequent}} Students</p>
        </div>
        <p class="course-description">{{course.description}}</p>    
    </div>

    <div class="course-image text-center">
        <img src="{{course.picture.url}}" class="rounded float-right img-fluid" alt="course">
        {% if is_enroll %}
            <a href="/Course/content/{{course.id_course}}" class="btn btn-outline-warning btn-lg" role="button">Continue</a>
        {% else %}
            <a href="/Course/content/{{course.id_course}}" onClick="enrollCourse()" class="btn btn-outline-warning btn-lg" role="button">Enroll</a>
        {% endif %}
    </div>

</div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/course.js' %}"></script>
{% endblock %}