{% extends 'base.html' %}
{% load static %}

{% block title %}
    School And Partners
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/school.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="overview">
        <p class="title">Schools and Partners</p>
        <p class="desc">Eduspace offers the highest quality online courses from institutions who share our commitment to excellence in teaching and learning.</p>
    </div>
    <hr/>
    <div class="shcool-list">
        {% for institution in all %}
        <div class="card">
            <div class="up">
                <img src="{{institution.picture.url}}" width="250" height="250"/>
            </div>
            <div class="down">
                <p>{{institution.institution_name}}</p>
            </div>
        </div>
        {% endfor %}
       
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/example.js' %}"></script>
{% endblock %}