{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit Profile : {{user.username}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/Profile.css'%}">
{% endblock %}

{% block content %}
<div class="background">
    <div class="back">
        <div class="container d-flex justify-content-start">
            <a style="color:white;" href="{% url 'profile' %}">❮ Back</a>
        </div>
    </div>

    <div style="margin: 30px;">
        <h3 style="text-align: center; color: white;">Update Your Profile</h3>
    </div>

    

    <div style="text-align: center">
        <form action="" method = "post" enctype="multipart/form-data">
            <div style="padding: 30px;">
                {% csrf_token %}
                
                <div class="custom-file">
                    {{ form.as_p }}
                </div>
                <div style="padding: 30px;">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    
</div>

<!-- <div class="wrapper">
    <div>
        <h1>This is example Page</h1>
        <p>Use this format for other formating</p>

        <ul class="list-group">
            <li class="list-group-item">use html, css, and js different with each other</li>
            <li class="list-group-item">To make differentiation between pages * directiries</li>
            <li class="list-group-item">Example : use name 'example' or related to naming file in css and js</li>
          </ul>
    </div>
</div> -->
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/Profile.js' %}"></script>
{% endblock %}