{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile : {{user.username}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/Profile.css'%}">
{% endblock %}

{% block content %}
<div class="background">
    <div class="back">
        <div class="container d-flex justify-content-start">
            <a style="color:white;" href="{% url 'dashboard' %}">❮ Back</a>
        </div>
    </div>
    <div style="margin: 30px;  text-align: center;">
        <!-- <h3 style="text-align: center; color: white;">Update Your Profile</h3> -->
        
        {% for message in messages %}
            {% if message %}
                <div class="alert alert-success" style="font-size: large;">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- template profile -->
    <div class="profile-info">
        <div class="container d-flex justify-content-between">
            <div class="profile-img">
                <img src="{{account.getProfilPicture}}">
            </div>
            
            <div class="container d-flex justify-content-start">
                <p>
                    <b style="font-size: 30px;">
                        {% if account.name %}
                            <!-- {{user.Name}} -->
                            {{account.name}}
                        {% else %}
                            No Name
                        {% endif %}
                    </b><br>
                    @{{account.user.username}}
                </p>
            </div>
            <div class="container d-flex justify-content-end">
                <p>
                    {{account.score}} Points<br>
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-end px-5">
        <a href="{% url 'editProfile' account.id %}"><button type="button" class="btn btn-outline-secondary">Edit</button></a>
    </div>
</div>

<div style="padding:50px;">
    <div class="container d-flex justify-content-start">
        <b style="font-size: 20px;">Course Taken</b>
    </div>
</div>

<!-- template list course -->
<div style = "margin-top: 17px; margin-bottom:100px;">
    
    {% for course in courses %}
        <div class="container d-flex justify-content-start">
            <div style = "margin-left: 100px;">
                <div class="profile-img">
                    <img src="{{course.picture.url}}">
                </div>
            </div>
            <div class="container d-flex  course-info course-profile">
                <div class="profile-container">
                    <br/>
                <p class="title">{{course.course_name}}</p>
                <p class="univ">{{course.institution.institution_name}}</p>
                <div class="rating">
                    {% if course.Star == 0 %}
                        <img src="{% static 'img/zerostar.svg'%}"/>
                    {% elif course.Star == 1 %}
                        <img src="{% static 'img/onestar.svg'%}"/>
                    {% elif course.Star == 2 %}
                         <img src="{% static 'img/twostar.svg'%}"/>
                    {% elif course.Star == 3 %}
                        <img src="{% static 'img/threestar.svg'%}"/>
                    {% elif course.Star == 4 %}
                        <img src="{% static 'img/fourstar.svg'%}"/>
                    {% elif course.Star == 5 %}
                        <img src="{% static 'img/fivestar.svg'%}"/>
                    {% elif course.Star > 5 %}
                        <img src="{% static 'img/fivestar.svg'%}"/>
                    {% endif %}
                    <p>| {{course.ParticipatFrequent}} Students</p>
                </div>
                </div>
            </div>
        </div>
        <div style = "margin-left: 200px; margin-right: 200px;">
            <hr >
        </div>
    {% endfor %}
    
    
    
</div>

<!-- <div class="wrapper">
    
</div> -->
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/example.js' %}"></script>
{% endblock %}