{% load static %}



{% if NoAuth != 'Yes' %}
    {% if navbar == 'white' %}
    <nav class="navbar navbar-black navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <div class="logo-image">
                <img src="{% static 'img/logowhite.svg'%}">
            </div>
            
            <div class="container d-flex justify-content-end">
                <a href="/">Programs</a>
                <a href="{% url 'course-list'%}">Courses</a>
                <a href="{% url 'school' %}">Schools & Parthner</a>
            </div>

            <div class="container d-flex justify-content-end">
                <div class="profile-navbar">
                   
                    <img src="{{account.getProfilPicture}}" width="50px" height="60px"> 
                    <div class="dropdown dropright">
                        <button class="btn btn-primary-outline dropdown-toggle" style="color:white;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{account.user.username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item"   type="button"><a href="{% url 'dashboard' %}" style="color:black;">Dashboard</a></button>
                          <button class="dropdown-item"   type="button"><a href="{% url 'profile' %}" style="color:black;">Profile</a></button>
                          <button class="dropdown-item"  type="button"><a href="{% url 'logout' %}" style="color:black;">Logout</a></button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
    </nav>

    {% else %}
    <nav class="navbar navbar-white navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <div class="logo-image">
                <img src="{% static 'img/logoblack.svg'%}">
            </div>
            
            <div class="container d-flex justify-content-end">
                <a href="/">Programs</a>
                <a href="{% url 'course-list'%}">Courses</a>
                <a href="{% url 'school' %}">Schools & Parthner</a>
            </div>

            <div class="container d-flex justify-content-end">
                <div class="profile-navbar">
                    <img src="{{account.getProfilPicture}}" width="50px" height="60px"> 
                   
                    <div class="dropdown dropright">
                        <button class="btn btn-secondary-outline dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{account.user.username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item"   type="button"><a href="{% url 'dashboard' %}" style="color:black;">Dashboard</a></button>
                            <button class="dropdown-item"   type="button"><a href="{% url 'profile' %}" style="color:black;">Profile</a></button>
                            <button class="dropdown-item"  type="button"><a href="{% url 'logout' %}" style="color:black;">Logout</a></button>
                        </div>
                      </div>

                      
                </div>
            </div>
        </div>
        
    </nav>
    {% endif %}

{% else %}


    {% if navbar == 'white' %}
    <nav class="navbar navbar-black navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <div class="logo-image">
                <img src="{% static 'img/logowhite.svg'%}">
            </div>
            
            <div class="container d-flex justify-content-end">
                <a href="/">Programs</a>
                <a href="{% url 'course-list'%}">Courses</a>
                <a href="{% url 'school' %}">Schools & Parthner</a>
            </div>

            <div class="container d-flex justify-content-end">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        
    </nav>
    {% else %}
    <nav class="navbar navbar-white navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <div class="logo-image">
                <img src="{% static 'img/logoblack.svg'%}">
            </div>
            
            <div class="container d-flex justify-content-end">
                <a href="/">Programs</a>
                <a href="{% url 'course-list'%}">Courses</a>
                <a href="{% url 'school' %}">Schools & Parthner</a>
            </div>

            <div class="container d-flex justify-content-end">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        
    </nav>

    {% endif %}


{% endif %}









<style>
    .logo-image {
        width :150px;
        height : 100px;
        display : flex;
    }

    .logo-image img{
        width :300px;
        height :150px;
        margin : auto;
    }
    .navbar .container a{
        margin : 15px;
    }

    .navbar-white{
        color : black;
    }
    .navbar-black{
        color : white;
    }

    .navbar-white  a{
        text-decoration : none;
        color : black;
    }

    .navbar-black  a{
        text-decoration : none;
        color : white;
    }
    
    .profile-navbar{
        display : flex;
        flex-direction: row;
    }

    .profile-navbar img{
        width : 40x;
        height : 40px;
        border-radius: 50%;
        border : 1px solid #C2CACC;
        margin : 0px auto;
        margin-bottom: -10px;
        margin-right: 20px;
    }
    .dropright{
        margin-top : 3px;
    }
</style>