body {
    color: black;
    background: #f6f9fc;
}

.wrapper {
    min-height: 80vh;
}

.search-bar {
    margin-top: 250px;
}

.search-bar {
    margin-top: 100px;
}

.all-course-container {
    background: #00162a;
    color: white;
    padding: 2% 15%;
}

.courses {
    color: black;
    margin-top: 80px;
}

.courses .title {
    padding: 0.5% 15%;
    color: black;
}

.courses .title p {
    color: black;
    font-size: 30px;
    font-weight: 400;
}

.latest p {
    color: black;
}