{% extends 'base.html' %}
{% load static %}

{% block title %}
    FAQ
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/FAQ.css'%}">
{% endblock %}

{% block content %} 
 <!-- Judul -->
 <h2 class="h2" style="font-family: 'Nunito', sans-serif; font-size: 48px; text-align: center">FORM FAQ</h2>

 <!-- FAQ -->
 <div class="container-fluid p-5">
    <form method="POST" action="{% url 'add-faq' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="questionInput" class="form-label">Question</label>
            <input  class="form-control" name="question" id="questionInput" placeholder="Masukan Question">
          </div>
          <div class="mb-3">
            <label for="AnswerInput" class="form-label">Answer</label>
            <textarea class="form-control" name="answer" id="AnswerInput" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Add FAQ</button>
    </form>
 </div> 
{% endblock %}


{% block scripts %}

{% endblock %}