{% extends 'base.html' %}
{% load static %}

{% block title %}
    FAQ
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/FAQ.css'%}">
{% endblock %}

{% block content %}
 <!-- Judul -->
 <h2 class="h2" style="font-family: 'Nunito', sans-serif; font-size: 48px; text-align: center">FAQ</h2>

 <!-- FAQ -->
 <div class="container container-fluid p-5">
  <div class="accordion" id="accordionExample">
    {% for faq in faqs %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{faq.pk}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{faq.pk}}" aria-expanded="false" aria-controls="collapse{{faq.pk}}">
          {{faq.Question}}
        </button>
      </h2>
      <div id="collapse{{faq.pk}}" class="accordion-collapse collapse" aria-labelledby="heading{{faq.pk}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         {{faq.Answer}}
        </div>
      </div>
    </div>
    {% endfor %}
   

    
    
  </div>
  </div>

  <div class="d-flex justify-content-center" style="margin:100px 0px;">
    <button type="button" class="btn btn-warning"><a href="{% url 'add-faq' %}">Add FAQ</a></button>
  </div>

 </div>
 
{% endblock %}


{% block scripts %}

{% endblock %}