{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{obj.name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/quiz.css'%}">
{% endblock %}

{% block content %}
    {{obj.name}}
    <p>Minimal kelulusan: {{obj.lulus}}%</p>
    <hr>
    <a href="{% url 'Quiz:halaman-kuis' %}" class="btn btn-danger">Back to Quiz List</a>
    <form id="form-kuis" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="box-kuis"></div>
        <button type="submit" class="btn btn-primary mt-3">Simpan</button>
    </form>s
    <div id="scoresc"></div>
    <div id="resultsc"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/soal.js' %}" defer></script>
{% endblock %} 
