{% extends 'base.html' %}
{% load static %}

{% block title %}
{{namakuis}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/livequiz.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper-quiz">
    <div class="container container-fluid p-5 soal-container">
        <div class="numbering">
            <p>{{numbering}}</p>
        </div>

        <div class="soal">
            <p>{{soal.text}} ? </p>
        </div>

        <div class="options">

            {% for answer in answers %}
            <div class="answers">
                <p class="currentAnswer" id="{{answer.betul}}" onClick="AnswerQuiz()" >{{answer.text}}</p>
            </div>
            {% endfor %}
                
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/livequiz.js' %}"></script>
{% endblock %}