{% extends 'base.html' %}
{% load static %}

{% block title %}
{{namakuis}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/quiz.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper-quiz">
    <div class="container container-fluid prepare">
        <div class="loading-bar">
            <p>{{namakuis}}</p>
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="pre-message">
                <p>Please wait</p>
                <p>Fetching your request</p>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/prequiz.js' %}"></script>
{% endblock %}