{% extends 'base.html' %}
{% load static %}

{% block title %}
    Quiz
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/quiz.css'%}">
{% endblock %}

{% block content %}
  <!-- Diambil dari https://getbootstrap.com/docs/5.1/components/modal/ -->
  <div class="modal fade quiz-wrapper" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mulai?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-confirm">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tidak</button>
          <button type="button", id="start-button" class="btn btn-success">Ya</button>
        </div>
      </div>
    </div>
  </div>

  <div class="h1">Quiz List</div>
  <hr>
  {% for obj in object_list %}
    <button
        class="btn btn-link modal-button"
        data-pk="{{obj.pk}}"
        data-quiz="{{obj.name}}"
        data-question="{{obj.banyaksoal}}"
        data-lulus="{{obj.lulus}}"
        data-toggle="modal"
        data-target="#quizStartModal">
        {{obj.name}}
    </button>
  {% endfor %}

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/quiz.js' %}" defer></script>
{% endblock %} 
