{% extends 'base.html' %}
{% load static %}

{% block title %}
Finish
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/finishQuiz.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper-quiz">
    <div class="container container-fluid p-5 quiz-finish">
       <div class="congrats">
           <p>Finished !</p>
       </div>
       <div class="fire-container">
            <canvas class="fireworks" width="300" height="300"></canvas>
       </div>

       <div class="result">
        <!-- Button trigger modal -->
        <div class="modal-result">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                See Result
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle" style="color:black;">Quiz Result</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="result-container">
                            <p class="correct-answer">Correct Answer : </p>
                            <p class="wrong-answer">Wrong Answer : </p>
                            <p class="Message"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" onClick="BackToCourse()">Go back to course</button>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
       </div>

       <p class="banyak-soal" style="display:none;">{{lenSoal}}</p>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/finishQuiz.js' %}"></script>
{% endblock %}