{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/Auth.css'%}">
{% endblock %}

{% block inlinecss %} {% endblock %}

{% block content %}

<div class="box">
    <div>
        <h1 id="messageSuccess"></h1>
        <div class="d-flex justify-content-center form_container">

            <form id="loginform" method="POST" action="">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">LOGIN</h3>
                </div>
                {% csrf_token %}
                <div class="input-group mb-2">
                    <input id="loginput" type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="input-group mb-2">
                    <input id="loginput" type="password" name="password" placeholder="Password" class="form-control">
                </div>

                <div id="error-message">
            
                    {% for message in messages %}
                        <label for="">{{message}}</label>
                    {% endfor %}
                    
                </div>

                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn login_btn" type="submit" value="Login">
                </div>

                <div class="d-flex justify-content-center mt-3 login_container">
                    <table id="myTable">
                    </table>
                </div>
            </form>
        </div>



        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Don't have an account? <a href="{% url 'register' %}" class="ml-2"> Register</a>
            </div>
            <div class="d-flex justify-content-center links"></div>
                
            </div>
        </div>

    </div>
    
</div>

<br>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/Login.js' %}"></script>
{% endblock %}