{% extends 'base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/Auth.css'%}">
{% endblock %}

{% block inlinecss %} {% endblock %}

{% block content %}

<div class="box">
    <div>
        <div class="d-flex justify-content-center form_container">

            <form method="POST" action="">
                
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">REGISTER</h3>
                </div>

                {% csrf_token %}
                <div class="input-group mb-2">
                    {{regist_form.username}}
                </div>

                <div class="input-group mb-2">
                    {{regist_form.email}}
                </div>

                <div class="input-group mb-2">
                    {{regist_form.password1}}
                </div>

                <div class="input-group mb-2">
                    {{regist_form.password2}}
                </div>

                <div>
                    {% if regist_form.errors %}
                        {% for parent, message in regist_form.errors.items %}
                            <label id="error-message">{{message}}</label>    
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn login_btn" type="submit" value="Register Account">
                </div>

                <div class="d-flex justify-content-center mt-3 login_container">
                    <table id="myTable">
                    </table>
                </div>
            </form>
        </div>

        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Already have an account? <a href="{% url 'login' %}" class="ml-2"> Login</a>
            </div>
        </div>
    </div>
    
</div>

<br>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/Register.js' %}"></script>
{% endblock %}