body {
    margin: 0px;
    padding: 0px;
    background: #f6f9fc;
}

.wrapper {
    min-height: 90vh;
    display: flex;
}

.wrapper div {
    margin: auto auto;
    text-align: center;
}

.background {
    background: #00162A;
    padding-top: 15px;
    padding-bottom: 35px;
}

.back {
    margin: 10px;
    color: white;
}

.profile-info {
    color: white;
    margin: 10px;
    display: flex;
    padding: 2% 15%;
}

.profile-info div {
    margin: auto auto;
}

.profile-img {
    display: flex;

}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.course-info span {
    height: 20px;
}

.course-info p {
    margin: 0px;
    color: #00162A;
}

.course-info {
    display: flex;
    flex-direction: column;
}

.course-info .title {
    font-size: 25px;
    font-weight: 500;
}

.course-info .univ {
    font-size: 16px;
}

.course-profile .rating {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    /* background: red; */
}

.course-profile .rating img {
    width: 100px;
}

.course-profile .rating p {
    margin: auto 10px;
    font-size: 18px;
}

.submit_btn {
    width: 100%;
    background: #00162A;
    color: white;
}