body {
    background: #F6F9FC;
}


#links {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}


#error-message {
    color: red;
}

.navigator {
    display: flex;
    justify-content: space-between;
}

#appname {
    margin: 50px;
}

.login_btn {
    width: 100%;
    background: #00162A;
    color: white;
}

#loginput {
    width: 560px;
    height: 39px;
    margin: 15px;
    border-style: none none solid none;
    border-width: 2px;
    border-color: black;
}

#form-title {
    color: black;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-group-append {
    width: 150px;
}

.input-group-text {
    width: 150px;
    background: #f7ba5b;
    color: white;
    border: 0;

}

.form_container {
    padding: 60px;
    margin: 20px;
    background-color: #ffffff;
    width: 696px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#messageSuccess {
    display: flex;
    justify-content: center;
}