{% extends 'base.html' %}
{% load static %}

{% block title %}
    Form Subject
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admins.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container container-fluid p-5 form-container">
        <form method="POST" action="/Only/Admin/school/">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="institution_name" placeholder="Universitas Indonesia">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">Degree</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="degree" placeholder="Higher School">
              </div>

        
            <div class="form-group mb-3">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" placeholder="deskripsi"></textarea>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}