{% extends 'base.html' %}
{% load static %}

{% block title %}
    Form Subject
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admins.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container container-fluid p-5 form-container">
        <form method="POST" action="/Only/Admin/subject/">
            {% csrf_token %}
            
            <div class="form-group mb-3">
              <label for="exampleFormControlTextarea1">Subject</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="name" placeholder="deskripsi"></textarea>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}