{% extends 'base.html' %}
{% load static %}

{% block title %}
    Title : Example
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admins.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container container-fluid p-5 card-container">
        <div class="card">
            <div class="icons">
                <img src="https://cdn.discordapp.com/attachments/755605623214964900/866126295480795156/investigation_1.png"/>
            </div>
            <div class="name">
                <p><a href="/Only/Admin/school/">Shcool</a></p>
            </div>
        </div>


        <div class="card">
            <div class="icons">
                <img src="https://cdn.discordapp.com/attachments/755605623214964900/866126285575422002/Group_256.png"/>
            </div>
            <div class="name">
                <p><a href="/Only/Admin/subject/">Subject</a></p>
            </div>
        </div>


        <div class="card">
            <div class="icons">
                <img src="https://cdn.discordapp.com/attachments/755605623214964900/866126308325195786/love_1_1.png"/>
            </div>
            <div class="name">
                <p><a href="/Only/Admin/degree/">Degree</a></p>
            </div>
        </div>

        <div class="card">
            <div class="icons">
                <img src="https://cdn.discordapp.com/attachments/755605623214964900/866081660944646154/Biro-Media_1.png"/>
            </div>
            <div class="name">
                <p><a href="/Only/Admin/school/">FAQ</a></p>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}