{% extends 'base.html' %}
{% load static %}

{% block title %}
    Title : Example
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/example.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div>
        <h1>This is example Page</h1>
        <p>Use this format for other formating</p>

        <ul class="list-group">
            <li class="list-group-item">use html, css, and js different with each other</li>
            <li class="list-group-item">To make differentiation between pages * directiries</li>
            <li class="list-group-item">Example : use name 'example' or related to naming file in css and js</li>
          </ul>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'js/example.js' %}"></script>
{% endblock %}