{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/755605623214964900/906062451404050462/SPace_1.png">

    <!-- Customize Title -->
    <title>
        {% block title %}hahsidasi{% endblock %}
    </title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <!-- Nunito Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
     <!-- Animate CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ionicons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.3/esm/ionicons.min.js" integrity="sha512-yvefMpqlYCpHgveijhRrO36/NQlRdasaGIMXXqxTw0gNrQcMNrCf89/UOXcrNAZgAoPs1cHGA9o9Fk7MfxdC8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>

    <!-- Load Project App CSS file -->
    {% block css %} {% endblock %}
</head>


<style>
    
    body{
        margin : 0px;
        padding : 0px;
        font-family: 'Nunito', sans-serif;
    }
    form{
        margin-left: auto;
        margin-right: auto;
    }
    input{
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        background-color: #fff;
        color: #4F6367;
        border: 2px solid #B8D8D8 ;
    }
    .col{
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .col label{
        color:hsl(76, 57%, 91%);
        font-size: 17px;
    }
    form{
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: auto;
        color: #4F6367;
        padding: 9px 36px;
        box-shadow: 0 4px 8px 0 hsl(76, 57%, 91%);
        transition: 0.4s all ease-in-out;
        text-align: center;
        display: flex;
        font-size: 17px;
        background-color: #B8D8D8;
        border: 2px grey;
    }
    .button:hover{
        background-color: rgb(255, 255, 255);
        box-shadow: 0 8px 16px 0  hsl(76, 57%, 91%), -0 -8px 16px 0 #fff;
    }
    .line {
        box-shadow: 0 4px 8px 0 hsl(76, 57%, 91%);
        transition: 0.4s all ease-in-out;
        width: 300px;
        border-radius: 10px;
        background: #B8D8D8;
        margin: 10px;
        float: left;
    }
    .line:hover {
        box-shadow: 0 8px 16px 0  hsl(76, 57%, 91%), -0 -8px 16px 0 #fff;
    }
    .container {
        padding: 2px 16px
    }
</style>
    


{% block inlinecss %} {% endblock %}

<body>

    <!-- Navbar  -->
    {% include 'partials/navbar.html' %}

    <!-- Main Content -->
    {% block content %} {% endblock %}


    <!-- Footer -->
    {% include 'partials/footer.html' %}

    <!-- Load Project JS file -->
    {% block scripts %} {% endblock %}
    
    <!-- JavaScript Bundle with Popper -->
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>