.wrapper {
    min-height: 62vh;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 5%;
    justify-content: center;
}

.card {
    padding: 2% 2%;
    display: flex;
    margin: 20px;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.name {
    margin: 10px 0px;
    text-align: center;
}

.name p {
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}