body {
    margin: 0px;
    padding: 0px;

    background: #00162A;
}

.judul {
    font-size: 60px;
    font-weight: 100;
}

.home-picture {
    display: flex;
}

.home-picture section {}

.home-picture img {
    max-width: 100%;
    height: auto;
    margin: 80px auto;
}

.desc {
    font-size: 18px;
}

.wrapper {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.wrapper div {
    margin: 40px auto;
    text-align: center;
}

.mitra-container {
    width: 100%;
    padding: 4% 14%;
    background: #F6F9FC;
}

.mitra-container .desc {
    color: black;
    text-align: center;
}

.desc p {
    color: black;
    font-size: 25px;
}

.desc p span {
    color: #0056D2;
}

.some-school {
    display: flex;
}

.some-school img {
    margin: auto auto;
}

.users {
    /* display: flex; */
}

.users .picture {
    display: flex;
}

.users img {
    width: 500px;
    height: 500px;
    margin: 0px;
    margin: -150px auto;
    /* background: red; */
}


.faq-course p {
    color: black;
    font-size: 35px;
    font-weight: 500;
}

.faq-course {
    width: 100%;
    padding: 5% 15%;
    background: #F6F9FC;
    color: black;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}