.wrapper {
    width: 100%;
    overflow: hidden;
}


.index-bg {
    position: absolute;
    width: 60vw;
    right: 10px;
    top: 8%;
    z-index: -1;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 7vw;
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;
}

a {
    color: #ffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:not([href]):not([class]) {
    color: white;
    text-decoration: none;
}

a:not([href]):not([class]):hover {
    color: white;
    text-decoration: none;
}

body {
    background-color: #2E2B34;
}