{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
{% endblock %}

{% block content %}
<div class="wrapper">
  
  <div class="container-md d-flex text-center search-bar">
    <form>
      <div class="input-group mb-3" style="width:100%;">
        <input type="text" class="form-control" placeholder="Search Course" aria-label="Recipient's username" aria-describedby="button-addon2">
        <a href="{% url 'course-list' %}"><button class="btn btn-outline-primary" type="button" id="button-addon2" >Search</button></a>
      </div>  
    </form>
  </div>
  
  <div class="courses">
    <div class="title">
      <p>Latest Courses</p>
    </div>
    <div class="all-course-container">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container d-flex justify-content-center">
              <div class="card" style="width: 18rem;">

                <h5 class="card-header" style="color:black;">{{Default.course_name}}</h5>
                <img src="{{Default.picture.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="/Course/{{Default.id_course}}/" class="btn-sm btn-primary" style="text-decoration: none;">Enroll now</a>
                </div>
              </div>
            </div>
          </div>

          {% for course in courses %}
          <div class="carousel-item latest">
            <div class="container d-flex justify-content-center">
              <div class="card" style="width: 18rem;">

                <h5 class="card-header" style="color:black;">{{course.course_name}}</h5>
                <img src="{{course.picture.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="/Course/{{course.id_course}}/" style="text-decoration: none;" class="btn-sm btn-primary">Enroll now</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
  </div>

  
  <div class="container container-fluid ">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="container-fluid d-flex my-5 flex-column justify-content-center">
          <h5>Your Course</h5>
          <ol class="list-group my-4 list-group-numbered">
            {% for course in course_user %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="/Course/{{course.id_course}}/" style="color:black; text-decoration:none;">{{course.course_name}}</a></div>
                {{course.Subject}}
                {{course.subject}}
              </div>
              <span class="badge bg-primary rounded-pill">*{{course.Rating}}</span>
            </li>
            {% endfor %}
            <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="/" style="color:black;">NameCourse</a></div>
                Subject
              </div>
              <span class="badge bg-primary rounded-pill">*Rating</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="/" style="color:black;">NameCourse</a></div>
                Subject
              </div>
              <span class="badge bg-primary rounded-pill">*Rating</span>
            </li> -->

            
            
           
          </ol>
        </div>
      </div>
      <div class="col-6">
        <div class="container-fluid d-flex flex-column  justify-content-center my-5">
          <h5>Rangking Points</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              {% for user in accounts %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{user.name}}</td>
                <td>{{user.score}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}


{% block scripts %}
    <!-- <script type="text/javascript" src="{% static 'js/example.js' %}"></script> -->
{% endblock %}