@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");

.body {
    background-color: #f6f9fc;
}

.accordion {
    padding: 48px;
}

.accordion-item {
    margin-top: 30px;
}

.accordion-body {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
}