body {
    background: #00162A;
}

.wrapper-course-content {
    min-height: 90vh;
    display: flex;
    flex-direction: row;

    color: white;
}

.content-container {
    display: inline-flex;
    padding: 5% 8%;
    /* background: red; */
    width: 100%;
}

.course-main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.course-video {
    width: 100%;
}

.video {
    width: 90%;
    height: 400px;
}

.course-contents {
    background: white;
    width: 20%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    border-radius: 20px;
}

.thu-img {
    justify-content: center;
    display: flex;
}

.thumbnail p {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 12px;
    color: black;
}

.course-video .title {
    font-size: 25px;
    font-weight: 800;

    margin-left: 10px;
}

.thumbnail:hover {
    background: #CCFFF6;
    cursor: pointer;
}

.material,
.comments {
    cursor: pointer;
}

.material-tab,
.comments-tab {
    color: black !important;
    padding: 2% 5%;
    height: 60vh;
}

.hidden {
    display: none;
}

.thumbnail img {
    width: 150px;
    height: 100px;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 5px;
}

.course-additional {
    width: 90%;
    background: #F6F9FC;
    margin-bottom: 150px;
    border-radius: 10px;
    margin: 50px 0px;
}

.tabs {
    padding: 3% 2%;
}

.files-card {
    width: 300px;
    height: auto;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #00162a;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.files-name,
.files-linking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px;
}


.profile-files {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.profile-files p {
    color: black;
    margin: 0px;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: "★ ";
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}