body {
    background: #F6F9FC;
    color: black;
}

.course-wrapper {
    min-height: 100vh;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    color: black;
}

.course-page-title {
    width: 100%;
    /* background: red; */
    padding: 0% 17%;
    color: black;
}

.course-page-title p {
    font-size: 35px;
    font-weight: 700;
    color: black;
}

.course-filter {
    width: 100%;
    background: #ECECEC;
    padding: 1.5% 17%;
    display: flex;
    color: black;
    flex-direction: column;
}

.course-filter p {
    color: black;
}

.filter-select {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.filter-select p {
    margin: 0px;
}

.filter-select div {
    margin: 0px;
    margin-top: 6px;
}

.filter-result {
    font-size: 20px;
    font-weight: 600;
}

.selecttion-bars div {
    margin-right: 40px;
}

.selection-drop button {
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.course-list {
    width: 100%;
    padding: 5% 17%;

    display: flex;
    flex-direction: column;
}

.course-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.course-card hr {
    margin-top: 30px;
}

.card-content {
    display: flex;
    flex-direction: row;
}

.course-picture {
    background: transparent !important;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.course-picture img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin: auto auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.course-profile {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
    width: 100%;

    /* background: blue; */
}

.course-profile p {
    color: black;
}

.title-course:hover {
    text-decoration: underline;
    cursor: pointer;
}

.course-profile .title-course {
    font-size: 25px;
    font-weight: 800;
    margin: 0px;
    color: black;
}

.school-name {
    font-size: 13px;
    font-weight: 300;
}

.course-profile .box {
    width: 90px;
    height: 40px;
    background: #E1E1E1;
    border-radius: 10px;
    display: flex;
}

.course-profile .box p {
    margin: auto auto;
    font-size: 14px;
}

.course-profile .level {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}

.course-profile .rating {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    /* background: red; */
}

.course-profile .rating img {
    width: 120px;
}

.course-profile .rating p {
    margin: auto 10px;
}