body {
    background: #00162A;
}

.wrapper-overview-course {
    min-height: 90vh;
    color: white;
    padding: 8% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-description {
    width: 75%;
    margin-top: 20px;
}

.rating {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    /* background: red; */
}

.title-course {
    font-size: 30px;
    font-weight: 700;
}

.course-description {
    font-size: 18px;
}

.rating img {
    width: 120px;
}

.rating p {
    margin: auto 10px;
}

.course-image {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.course-image img {
    border: 1px solid #FFFF;
    margin-top: 30px;
    margin-bottom: 20px;
}