.wrapper {
    padding: 5% 15%;
    min-height: 60vh;
    color: black;
}

p {
    color: black;
}

.title {
    font-size: 30px;
    color: #00262b;
    font-weight: 500;
}

.desc {
    font-size: 19px;
    color: #454545;
}

.shcool-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card .up {
    background: white;
}

.card .down {
    padding: 10% 10%;
    background: #fbfaf9;
}

.card .down p {
    font-size: 16px;
    font-weight: 500;
}